{% load static %}
<!doctype html>
<html class="no-js" lang="Fa_IR" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>قالب شاهان</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'font/bootstrap-icon/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugin/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugin/countdown/countdown.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugin/rasta-contact/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <meta name="theme-color" content="#f4f5f9">
</head>

<body style="background: url('{% static 'images/banner.jpg' %}');background-repeat: no-repeat;background-size: cover">


<!-- start content -->

<div class="content vh-100">
    <div class="container-fluid h-100">
        <div class="auth h-100 d-flex align-items-center">
            <div class="container-fluid">
                <div class="auth-items">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">

                            <div class="auth-logo text-center">
                                <a href="/">
                                    <img src="{% static 'images/logo-footer.png' %}" width="200" alt="">
                                </a>
                            </div>
                            <div class="auth-form shadow-xl rounded-3  mt-5 bg-white">
                                <div class="auth-form-title mb-4 slider-title-desc-center">
                                    <h2 class="text-center h4 text-muted title-font">ورود / ثبت نام</h2>
                                </div>
                                {% if messages %}
                                <div class="mb-3">
                                    {% for message in messages %}
                                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} mb-2" role="alert">{{ message }}</div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <div class="comment-item mb-3">
                                        <input type="tel" name="phone" class="form-control" id="phoneInput" placeholder="09000000000">
                                        <label for="phoneInput" class="form-label label-float">شماره موبایل خود را وارد کنید</label>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success w-100 mt-4">ارسال کد تایید</button>
                                    </div>
                                    <p class="mt-2 text-muted small">پس از ارسال، کد تا مدت محدودی معتبر است.</p>
                                </form>
                            </div>

                            <p class="loginTermsDesc">با ورود و یا ثبت نام در شاهان شما <a class="underlined main-color-one-color fw-bold"
                                                                                              href="/rules/">شرایط و
                                قوانین</a> استفاده از سرویس‌های سایت شاهان و <a class="underlined main-color-one-color fw-bold"
                                                                                   href="/privacy-polices/">قوانین حریم
                                خصوصی</a> آن را می‌پذیرید.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end content -->



<script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle-5.3.2.min.js' %}"></script>
<script src="{% static 'js/plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/plugin/countdown/countdown.js' %}"></script>
<script src="{% static 'js/plugin/vanilla-tilt/vanilla-tilt.min.js' %}"></script>
<script src="{% static 'js/plugin/rasta-contact/script.js' %}"></script>
<script src="{% static 'js/plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
